#editor.ui-layout-west
  %label{:for=>"code"} Your XML
  %br
  %textarea#code{:name=>"code"}=@code

.ui-layout-center          
  %label{:for=>"xslt"} Your XSLT
  %br
  %textarea#xslt{:name=>"xslt"}=@xslt


.ui-layout-east
  #accordion
    %h3 Output
    .html
      -if @errors
        %h2 There are errors in your stylesheet or XML file.
        -@errors.each do |e|
          %p= e
      -else
        #output
          =@output
    %h3 Source
    .src
      %textarea#output_source=@output

